@import url("https://fonts.googleapis.com/css?family=Pacifico");

.Word {
    font-family: "Pacifico";
    margin: 0px;
}

.Header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.Header .HeaderTitle{
    margin-left: 10px;
}

.AppContainer {
    height: 100vh;
    display: flex !important;
    flex-direction: column;
}

.KaisCorner {
    display: flex;
    align-items: center;
    justify-content: center;
}
